<template>
    <div>
        <div id="article-header">
            <h1 id="header-title" ref="title">{{ page.title }}</h1>
            <bz-picture loading="lazy"
                id="header-image"
                v-if="page.image"
                :src="page.image"
                :alt="page.description || 'Title image for ${page.title}'"
            ></bz-picture>
        </div>
        <!-- TODO: format this nicely (maybe in a sidebar?) -->
        <!-- TODO: make this work with headings inside of <picture-background> tags -->
        <!-- <nav class="prose mx-auto">
            <ul id="toc">
                <li v-for="link of toc" :key="link.id">
                    <NuxtLink :to="`#${link.id}`">{{ link.text }}</NuxtLink>
                </li>
            </ul>
        </nav> -->
        <article class="prose mx-auto">
            <nuxt-content :document="page" />
        </article>
        <hr>
        <div id="license-info">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img
                    alt="Creative Commons Licence"
                    style="border-width:0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"
                >
            </a>
            <p>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
            </p>
        </div>
    </div>
</template>

<script lang="ts">
import { Context } from '@nuxt/types';
import formatSiteMetadata from '../../utils/format-site-metadata';
import FullBleedSection from "~/components/full-bleed-section.vue";
import BzPicture from '~/components/bz-picture.vue'
import PictureBackground from '~/components/picture-background.vue';

export default {
    components: {
        FullBleedSection,
        BzPicture,
        PictureBackground,
    },
    head() {
        return {
            title: (this as any).page.title,
            meta: [
                ...(this as any).meta,
                {
                    property: "article:published_time",
                    content: (this as any).page.createdAt,
                },
                {
                    property: "article:modified_time",
                    content: (this as any).page.updatedAt,
                },
                {
                    property: "article:tag",
                    content: (this as any).page.tags
                        ? (this as any).page.tags.join(", ")
                        : "",
                },
                { name: "twitter:label1", content: "Written by" },
                { name: "twitter:data1", content: (this as any).page.author },
                { name: "twitter:label2", content: "Filed under" },
                {
                    name: "twitter:data2",
                    content: (this as any).page.tags
                        ? (this as any).page.tags.join(", ")
                        : "Uncategorised",
                },
            ],
            link: [
                {
                    hid: "canonical",
                    rel: "canonical",
                    href: `${process.env.BASE_URL}/articles/${(this as any).$route.params.slug}`,
                },
            ],
        }
    },
    computed: {
        toc() {
            return (this as any).page.toc.filter((entry: any) => entry.depth === 2)
        },
        meta() {
            const meta = formatSiteMetadata({
                description: (this as any).page.description,
                image: (this as any).page.image || "",
                type: "article",
                url: "..." + (this as any).page.path,
                title: `${(this as any).page.title} | Brotzeit.engineering`,
            });

            return meta;
        }
    },
    async asyncData ({ $content, params }: Context & { $content: any }) {
        const page = await $content(params.slug).fetch();

        return {
            page,
        }
    }
}
</script>

<style scoped>
#article-header {
    position: relative;
    @apply mb-16;
}

#header-title {
    position: absolute;
    bottom: 0px;
    @apply px-8;
    width: 100%;
    z-index: 99;

    text-shadow: rgba(0,0,0,0.5) 0px 4px 16px;
}

/* maybe this should be 768px */
@media screen and (max-width: 640px) {
    #article-header {
        @apply prose;
    }

    #article-header img {
        @apply mt-0;
    }
}

#header-image {
    width: 100%;
}

#toc li::before {
  all: initial;
}

#toc li {
  list-style-type: "⮑";
}

article {
    @apply mb-8;
}

#license-info {
    @apply my-8;
}

#license-info p {
    @apply opacity-75;
    @apply mt-2;
}

</style>
