<template>
    <div class="bz-img-container" :class="{rounded}" ref="mainImage">
        <nuxt-picture class="bz-thumb" v-if="showThumb"
            :src="$attrs.src"
            sizes="xs:64px"
            quality="60"
        ></nuxt-picture>
        <nuxt-picture class="bz-img"
            v-bind="$attrs"
            loading="lazy"
            @load="rmThumb"
        ></nuxt-picture>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    inheritAttrs: false,
    props: {
        rounded: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            showThumb: true
        }
    },
    methods: {
        rmThumb() {
            this.showThumb = false;
        }
    },
})
</script>

<style>
.bz-img-container {
    position: relative;
}

.bz-thumb img,
.bz-thumb source {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bz-img img,
.bz-img source {
    width: 100%;
}

.rounded .bz-img img,
.rounded .bz-img source,
.rounded .bz-thumb img,
.rounded .bz-thumb source
{
    border-radius: var(--spacing-s);
}
</style>
