<template>
    <div class="picture-background-container">
        <div class="content-container">
            <slot />
        </div>
        <bz-picture v-bind="$attrs"></bz-picture>
    </div>
</template>
<script lang="ts">
import Vue from 'vue'
import BzPicture from './bz-picture.vue'

export default Vue.extend({
  components: { BzPicture },

  inheritAttrs: false,
})
</script>
<style scoped>

.picture-background-container {
    position: relative;
}

.content-container {
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 9999;
    text-shadow: rgb(0,0,0) 0px 4px 16px;
}

.content-container > :first-child {
    margin-top: 0;
}

</style>
