/* KaTeX needs its stylesheet and here seems to be the least painful way to include it */
@import 'katex/dist/katex.min.css';

:root {
    --spacing-xs: calc(var(--spacing) / 4);
    --spacing-s: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-l: calc(var(--spacing-s) + var(--spacing));
    --spacing-xl: calc(2 * var(--spacing));

    --line-width: 1px;

    --base-font-size: 16px;

    --sans-serif-font-stack:  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

    --serif-font-stack: essonnes-text, serif;
    --serif-headline-font-stack: essonnes-headline, serif;

    --font-stack: var(--sans-serif-font-stack);

    --background-dark: #000000;
    --background-light: #ffffff;
    --foreground-dark: #ffffff;
    --foreground-light: #000000;

    --mid-dark: #808080;
    --mid-light: #808080;

    --off-white: #fefaf1;
    --mustard-yellow: #ffe500;
    
    /* DARK/LIGHT THEMING DEFAULTS - use class .dark or .light if you want to switch themes */
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
    --mid: var(--mid-dark);
}

.dark {
    --background: var(--background-dark);
    --foreground: var(--foreground-dark);
}

.light {
    --background: var(--background-light);
    --foreground: var(--foreground-light);
}

body {
    font-family: var(--font-stack);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* font-size: var(--base-font-size); */

    color: var(--foreground);
    background-color: var(--background);

    box-sizing: border-box;

    scroll-behavior: smooth;
}

.bz-serif {
    --font-stack: var(--serif-font-stack);
}

.bz-serif h1,
.bz-serif h2,
.bz-serif h3,
.bz-serif h4,
.bz-serif h5,
.bz-serif h6,
 h1.bz-serif,
 h2.bz-serif,
 h3.bz-serif,
 h4.bz-serif,
 h5.bz-serif,
 h6.bz-serif {
    font-family: var(--serif-headline-font-stack);
}

h1 {
    font-size: 64px;
    font-weight: 900;
}

h1:not(:first-child) {
    margin-top: calc(2 * var(--spacing-xl));
}

h1:not(:last-child) {
    margin-bottom: var(--spacing-xl);
}

h2 {
    font-size: 32px;
    font-weight: 900;
}

h2:not(:first-child) {
    margin-top: calc(2 * var(--spacing-l));
}

h2:not(:last-child) {
    margin-bottom: var(--spacing-l);
}

h3 {
    font-size: 24px;
    font-weight: 900;
}

h3:not(:first-child) {
    margin-top: calc(2 * var(--spacing));
}

h3:not(:last-child) {
    margin-bottom: var(--spacing);
}

.bz-serif h3,
h3.bz-serif {
    font-style: italic;
}

h4 {
    font-size: 18px;
    font-weight: 900;
}

.bz-serif h4,
h4.bz-serif {
    font-style: italic;
}

h5 {
    font-size: 16px;
    font-weight: 900;
}

.bz-serif h5,
h5.bz-serif {
    font-style: italic;
}

h6 {
    font-size: 16px;
    font-weight: 600;
}

.bz-serif h6,
h6.bz-serif {
    font-style: italic;
}

p:not(:last-child) {
    @apply mb-4;
}

input:not([type]), input[type="text"] {
    background: none;
    border-bottom: solid var(--line-width) var(--foreground);
    border-radius: 0px;
}

input:not([type])::placeholder,
input[type="text"]::placeholder {
    color: var(--foreground);
    opacity: 1;
    font-weight: 200;
}

input:not([type]):focus,
input[type="text"]:focus {
    outline: 0;
    border-bottom-width: calc(2*var(--line-width));
    /** TODO: remove this ugly hack */
    margin-bottom: calc(-1 * var(--line-width));
}

.prose picture,
.prose .bz-img-container,
.prose .full-bleed-section
{
    margin-top: 2em;
    margin-bottom: 2em;
}

.prose .grid picture,
.prose .grid .bz-img-container,
.prose .grid figure {
    margin-top: 0;
    margin-bottom: 0;
}

.prose figure > .bz-img-container {
    margin-top: 0;
    margin-bottom: 0;
}

.prose picture > img {
    margin-top: unset;
    margin-bottom: unset;
}

.prose blockquote p:first-of-type::before {
    content: none;
}

.cta-link,
a.cta-link {
    background-color: var(--foreground);
    color: var(--background);
    text-decoration: none;
    padding: var(--spacing);
    border-radius: var(--spacing-s);

    transition: background-color 0.5s;
}

.cta-link:hover {
    background-color: var(--mustard-yellow);

    transition: background-color 0.25s;
}

.cta-link:not(:last-child) {
    margin-right: var(--spacing);
}

#header-image,
#header-image img,
#header-image source
{
    border-radius: 0 0 var(--spacing-s) var(--spacing-s);
}