<template>
    <div>
        <div id="content">
            <h1 class="font-serif-headline">
                <span id="spelling">Brot·zeit</span>
                <span id="phonetic" class="font-normal">\ˈbroːt‿ˌtsaıt\</span>
            </h1>

            <div class="grid grid-cols-3 gap-12">
                <div class="col-span-2 xl:col-span-1">
                    <bz-picture loading="lazy" src="/img/self_portrait.jpg" alt="Self portrait"></bz-picture>
                </div>
                <div class="col-span-3 xl:col-span-2 space-y-4">
                    <p id="word-type" class="italic">German noun, feminine :</p>
                    <div class="definition space-y-4">
                        <ol class="list-decimal list-inside space-y-4">
                            <li>Literally "bread time"; a meal consisting of sourdough bread, cold cuts, cheese, sausage and raw vegetables</li>
                            <li><strong>~.engineering :</strong> a meta project about code, photography and food by Jan Hettenkofer</li>
                        </ol>
                        <p class="text-center">...</p>
                        <p>
                            More than just a meal, Brotzeit is often a community
                            event. Be it as a family dinner, a snack during a
                            long hike or the well deserved break from
                            concentrated work, Brotzeit brings people together
                            to share in the celebration of "simple" ingredients.
                        </p><p>
                            It is this appreciation of the minute details found
                            in the seemingly mundane that inspires this
                            publication. As a software engineer, photographer
                            and home cook I love to identify first principles
                            by ways of creative exploration. Through this I
                            aspire to understand the world from the ground up.
                        </p>
                    </div>
                </div>
            </div>

            <div>
                <h1 class="font-serif-headline">
                    About the author
                </h1>
    
                <p>
                    Hi! I'm Jan 👋.
                </p><p>
                    The imaginatively detailed imagery of cinema has captivated me for as long as I can remember. Even more than the stories, real or imagined, the process of transforming ideas into silver screen projections piqued my curiosity.
                </p><p>
                    Scratching this itch eventually led me to a career in software engineering. There, I have had the opportunity to contribute to the maintenance and improvement of deployed products as well as breaking new ground in small-but-driven R&amp;D teams.
                </p><p>
                    I also build image-making and image-processing tools to solve problems I come upon in my personal photography projects.
                </p>
            </div>

            <div>
                <h1 class="font-serif-headline">Projects</h1>

                <h2><a href="https://touchstone.brotzeit.engineering">Touchstone Monitor</a></h2>

                <p>
                    <a href="https://github.com/JanHett/touchstone-monitor">🧑‍💻 View source code on GitHub</a><br/>
                    <a href="https://touchstone.brotzeit.engineering">📺 Open Touchstone Monitor</a>
                </p>
                <p>
                    Touchstone Monitor is an experiment trying to create a useable field monitor in a browser. It is best used on a tablet computer in conjunction with a camera connected using a HDMI capture card.
                </p>

                <iframe class="w-full" style="aspect-ratio: 1.33; border-radius: var(--spacing-s);" allow="microphone; camera" src="https://touchstone.brotzeit.engineering"></iframe>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import BzPicture from '~/components/bz-picture.vue'

export default Vue.extend({
    head: {
        link: [
            {
                hid: "canonical",
                rel: "canonical",
                // TODO: reference something that is resolvable at build time
                href: process.env.BASE_URL + "/about",
            },
        ]
    },
    components: {
        BzPicture
    },
})
</script>

<style scoped lang="postcss">
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/

/** BRANDING */

#spelling {

}

#phonetic {

}

/** CONTENT */

#content {
  z-index: 999;
}

.definition li, .definition p {
    text-indent: var(--spacing-xl);
}

.definition ::marker {
    font-weight: bold;
}
</style>
